  <!-- middle row -->
  <div class="col-6">
    <div class="form-group">
      <textarea class="form-control" placeholder="What's happening?" rows="3"></textarea>
    </div>
    <button>Chirp</button>
    <hr>
    <div id="chirps">
      <% @chirps.each do |chirp| %>
      <%= render chirp %>
<!--     <p>
      <%= link_to "Show this chirp", chirp %>
    </p> -->
    <% end %>
  </div>
</div>
