<div class="row">
  <!-- left row -->
  <div class="col-3">
    <div class="card mb-4">
      <div class="card-header" style="background-color: #E8F4F9;">
        Profile
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Cras justo odio</li>
        <li class="list-group-item">Dapibus ac facilisis in</li>
        <li class="list-group-item">Vestibulum at eros</li>
      </ul>
    </div>
    <div class="card">
      <div class="card-header" style="background-color: #E8F4F9;">
        Trending
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Cras justo odio</li>
        <li class="list-group-item">Dapibus ac facilisis in</li>
        <li class="list-group-item">Vestibulum at eros</li>
      </ul>
    </div>
  </div>
  <!-- middle row -->
  <div class="col-6">
    <div class="form-group">
      <textarea class="form-control" placeholder="What's happening?" rows="3"></textarea>
    </div>
    <button>Chirp</button>
    <hr>
    <div class="card">
      <div class="card-body">
        This is some text within a card body.
      </div>
    </div>
  </div>
  <!-- right row -->
  <div class="col-3">
    <div class="card">
      <div class="card-header" style="background-color: #E8F4F9;">
        Who to Follow
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Cras justo odio</li>
        <li class="list-group-item">Dapibus ac facilisis in</li>
        <li class="list-group-item">Vestibulum at eros</li>
        <li class="list-group-item text-info">show more</li>
      </ul>
    </div>
  </div>
</div>
