  <!-- middle row -->
  <div class="col-6">
    <% if user_signed_in? %>
      <%= render "form", chirp: @chirp %>
      <hr>
    <% end %>
    <div id="chirps">
      <% @chirps.each do |chirp| %>
      <%= render chirp %>
<!--     <p>
      <%= link_to "Show this chirp", chirp %>
    </p> -->
    <% end %>
  </div>
</div>
