<div class="col-3">
  <div class="card">
    <div class="card-header" style="background-color: #E8F4F9;">
      Who to Follow
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">@blank_user123</li>
      <li class="list-group-item">@Zoinker39</li>
      <li class="list-group-item">@ChrispBacon</li>
      <li class="list-group-item text-info">show more</li>
    </ul>
  </div>
</div>
