<div class="col-3">
  <div class="card mb-4">
    <div class="d-flex card-title pt-3 ps-3">
      <div class="flex-shrink-0">
        <%= image_tag("avatar_placeholder.png", width: 60, class: "rounded-circle") %>
      </div>
      <div class="flex-grow-1 ms-3">
        <h4>Name</h4>
        <small>@chripuser</small>
      </div>
    </div>
    <div class="card-body pt-1">
      Chrip 3000
    </div>
  </div>
  <div class="card">
    <div class="card-header" style="background-color: #E8F4F9;">
      Trending
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Cras justo odio</li>
      <li class="list-group-item">Dapibus ac facilisis in</li>
      <li class="list-group-item">Vestibulum at eros</li>
    </ul>
  </div>
</div>
