<div class="row">
  <!-- left row -->
 <%= render 'chirps/profile' %>
  <!-- middle row -->
  <%= render 'chirps/feed' %>
  <!-- right row -->
  <%= render 'chirps/follow' %>
</div>



<%= link_to "New chirp", new_chirp_path %>

